.App {
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #010101;
}
img {
  width: 100%;
}
.name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 52px;
}
.tag {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px;
}
.location {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 36px;
}
.stats {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  font-size: 20px;
  list-style: none;
  padding-bottom: 40px;
}
li {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 146, 146);
}
.label {
  margin-right: 30px;
}
