.profile {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(217, 214, 214);
}
img {
  width: 400px;
}
.name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 52px;
}
.tag {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px;
}
.location {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 36px;
}
.stats {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  font-size: 20px;
  list-style: none;
  padding-bottom: 40px;
}
.statsItem {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 146, 146);
}
.label {
  margin-right: 30px;
}
